footer.footer
    .footer__inner
    .footer__content
        .footer__row
        .footer__col
            .footer__col_inner
            a.footer__col_logo(href='#')
                span.footer__col_icon
                svg#Layer_1(width='38', height='40', dataname='Layer 1', viewBox='0 0 185.47 163.51')
                    defs
                    path.cls-1(d='M98.77 0L0 45.74l24.61 93.66 18.73-2.3-5.15-58.89 6.15-2.74 10.62 60.2 32.01-3.93-5.69-65 6.09-2.71 11.68 66.23 32.38-3.98-6.23-71.25 6.16-2.74 12.77 72.43 32.01-3.93V19.38L98.77 0zM101.09 142.05l1.63 9.22 73.42 12.24v-30.68l-75.01 9.21-.04.01z')
                    path.cls-1(d='M1043.82 459.19v-.71h3.64v.71zm1.41 3.94v-4.25h.81v4.25zm3 0v-4.65h.8v4.65zm2.21 0l-2.06-4.65h.83l1.44 3.41 1.44-3.41h.84l-2.06 4.65zm1.83 0v-4.65h.81v4.65z', transform='translate(-867.65 -458.48)')
            nav.footer__nav
                ul.footer__nav_list
                li.footer__nav_item
                    a.footer__nav_item_link(href='#') Báo chí
                li.footer__nav_item
                    a.footer__nav_item_link(href='#') Báo chí
                li.footer__nav_item
                    a.footer__nav_item_link(href='#') Báo chí
                li.footer__nav_item
                    a.footer__nav_item_link(href='#') Điều khoản sử dụng
                li.footer__nav_item
                    a.footer__nav_item_link(href='#') Chính sách quyền riêng tư
                li.footer__nav_item
                    a.footer__nav_item_link(href='#') Hỗ trợ người chơi
                li.footer__nav_item
                    a.footer__nav_item_link(href='#') Hỗ trợ người chơi
                li.footer__nav_item
                    a.footer__nav_item_link(href='#') Khả năng tiếp cận
        .footer__col
            .footer__social
            a.footer__social_link(href='#')
                i.footer__social_icon.fa-brands.fa-facebook
            a.footer__social_link(href='#')
                i.footer__social_icon.fa-brands.fa-twitter
            a.footer__social_link(href='#')
                i.footer__social_icon.fa-brands.fa-linkedin
            a.footer__social_link(href='#')
                i.footer__social_icon.fa-brands.fa-youtube
        .footer__line
        img(src='/assets/img/distressed-stroke.svg', alt='footer-line', srcset='')
        .footer__row
        .footer__col
            .footer__cookie
            button.footer__cookie_btn Tùy chọn cookie
            .footer-copy-right
            span © năm 2023 bởi Riot Games, Inc. Đã đăng ký bản quyền.
        .footer__col
            .footer__top
            a.footer__top_link(href='#top') Tới đầu trang
            i.footer__top_icon.fa-solid.fa-caret-up