main.main
    .row
    section.widget
        .hero-new
        .hero-new__background
            .hero-new__img
            img(src='./assets/img/img1.jpg', alt='img-banner', srcset='')
        .hero-new__content.content__center
            .hero-new__inner
            .hero-new__logo
                img(src='assets/img/logo-final.png', alt='logo-final', srcset='')
            |  
            .hero-new__btn
                .hero-new__btn_main
                .hero-new__btn_icon
                    i.fa-sharp.fa-solid.fa-arrow-right
                span.hero-new__btn_name Tìm hiểu thêm
    section.widget
        .what-happening.content__center
        .what-happening__title
            h2.what-happening__name Chuyện gì đang xảy ra vậy?
            button.what-happening__btn Xem tất cả
        .what-happening__wrapper
            .what-happening__hero
            a.what-happening__hero_link(href='#')
                .what-happening__hero_blur
                img.what-happening__hero_img(src='./assets/img/img2.jpg', alt='img2', srcset='')
                .what-happening__hero_content
                    h3 KHÁM PHÁ // Phim Ngắn Hồi 6 - VALORANT
                    span.what-happening__hero_news tin tức
                .what-happening__hero_icon
                    svg.what-happening__hero_icon_img(viewBox='0 0 20 20', fill='none')
                    path(d='M18 3.7v6.059c0 .096-.034.19-.096.265l-1.55 1.888a.44.44 0 0 1-.342.16h-4.91c-.086 0-.133-.097-.08-.162l6.797-8.273c.06-.073.181-.032.181.062zM7.202 16.24l-5.106-6.216A.417.417 0 0 1 2 9.76v-6.06c0-.094.122-.135.181-.062l10.352 12.601c.053.065.006.162-.08.162h-4.91a.44.44 0 0 1-.341-.16z', fill='#FF4654')
            ul.what-happening__list
            li.what-happening__item
                a.what-happening__card(href='#')
                .what-happening__card_title
                    h3.what-hapenning__card_heading Khởi Động Mùa Giải 2023 | Chiến Trường Điên Loạn
                    span.what-happening__card_news tin tức
                img.what-happening__card_img(src='/assets/img/img5.jpg', alt='img5', srcset='')
                .what-happening__card_icon
                    svg.what-happening__card_icon_img(viewBox='0 0 20 20', fill='none')
                    path(d='M10.901 2.674c3.55.457 6.299 3.57 6.299 7.341a7.52 7.52 0 0 1-.994 3.749h-1.903a5.88 5.88 0 0 0 .897-1.493 5.908 5.908 0 0 0 .442-2.256c0-.785-.149-1.543-.442-2.255a5.817 5.817 0 0 0-1.209-1.844 5.588 5.588 0 0 0-3.09-1.623V2.674zM5.408 15.711v-2.328a5.953 5.953 0 0 1-.609-1.112 5.91 5.91 0 0 1-.441-2.256c0-.785.148-1.543.441-2.255.163-.396.367-.77.609-1.112V4.316a7.456 7.456 0 0 0-2.608 5.7 7.448 7.448 0 0 0 2.608 5.694zM9.825 2H5.697l.79 1.657v12.705L5.708 18h9.355l.853-3.131h-6.09V2z', fill='#C28F2C')
            li.what-happening__item
                a.what-happening__card(href='#')
                .what-happening__card_title
                    h3.what-happening__card_heading Riot Sẽ Nghỉ Ngơi Trước Khi Năm Cũ Khép Lại
                    span.what-happening__card_news Bên trong Riot
                img.what-happening__card_img(src='/assets/img/img6.png', alt='img6', srcset='')
                .what-happening__card_icon
                    svg#Layer_1.what-happening__card_icon_img(dataname='Layer 1', viewBox='0 0 185.47 163.51')
                    defs
                    path.cls-1(fill='#f1f5f1', d='M98.77 0L0 45.74l24.61 93.66 18.73-2.3-5.15-58.89 6.15-2.74 10.62 60.2 32.01-3.93-5.69-65 6.09-2.71 11.68 66.23 32.38-3.98-6.23-71.25 6.16-2.74 12.77 72.43 32.01-3.93V19.38L98.77 0zM101.09 142.05l1.63 9.22 73.42 12.24v-30.68l-75.01 9.21-.04.01z')
                    path.cls-1(d='M1043.82 501.65v-.71h3.64v.71zm1.41 3.94v-4.24h.81v4.24zm3 0v-4.65h.8v4.65zm2.21 0l-2.06-4.65h.83l1.44 3.42 1.44-3.42h.84l-2.06 4.65zm1.83 0v-4.65h.81v4.65z', transform='translate(-867.65 -500.94)')
            li.what-happening__item
                a.what-happening__card(href='#')
                .what-happening__card_title
                    h3.what-hapenning__card_heading Bỏ Phiếu Cho Những Điều Bạn Luôn Mong Góp Sức!
                    span.what-happening__card_news tin tức
                img.what-happening__card_img(src='/assets/img/img4.png', alt='img4', srcset='')
                .what-happening__card_icon
                    svg#Layer_1.what-happening__card_icon_img(dataname='Layer 1', viewBox='0 0 185.47 163.51')
                    defs
                    path.cls-1(fill='#f1f5f1', d='M98.77 0L0 45.74l24.61 93.66 18.73-2.3-5.15-58.89 6.15-2.74 10.62 60.2 32.01-3.93-5.69-65 6.09-2.71 11.68 66.23 32.38-3.98-6.23-71.25 6.16-2.74 12.77 72.43 32.01-3.93V19.38L98.77 0zM101.09 142.05l1.63 9.22 73.42 12.24v-30.68l-75.01 9.21-.04.01z')
                    path.cls-1(d='M1043.82 501.65v-.71h3.64v.71zm1.41 3.94v-4.24h.81v4.24zm3 0v-4.65h.8v4.65zm2.21 0l-2.06-4.65h.83l1.44 3.42 1.44-3.42h.84l-2.06 4.65zm1.83 0v-4.65h.81v4.65z', transform='translate(-867.65 -500.94)')
            li.what-happening__item
                a.what-happening__card(href='#')
                .what-happening__card_title
                    h3.what-hapenning__card_heading
                    Khởi Động Mùa Giải Bữa Tiệc Chào Đón Máy Chủ Chế Độ ĐTCL Và LMHT Đông Nam Á Sẽ Diễn...
                    span.what-happening__card_news tin tức
                img.what-happening__card_img(src='/assets/img/img3.jpg', alt='img3', srcset='')
                .what-happening__card_icon
                    svg#Layer_1.what-happening__card_icon_img(dataname='Layer 1', viewBox='0 0 185.47 163.51')
                    defs
                    path.cls-1(fill='#f1f5f1', d='M98.77 0L0 45.74l24.61 93.66 18.73-2.3-5.15-58.89 6.15-2.74 10.62 60.2 32.01-3.93-5.69-65 6.09-2.71 11.68 66.23 32.38-3.98-6.23-71.25 6.16-2.74 12.77 72.43 32.01-3.93V19.38L98.77 0zM101.09 142.05l1.63 9.22 73.42 12.24v-30.68l-75.01 9.21-.04.01z')
                    path.cls-1(d='M1043.82 501.65v-.71h3.64v.71zm1.41 3.94v-4.24h.81v4.24zm3 0v-4.65h.8v4.65zm2.21 0l-2.06-4.65h.83l1.44 3.42 1.44-3.42h.84l-2.06 4.65zm1.83 0v-4.65h.81v4.65z', transform='translate(-867.65 -500.94)')
    section.widget
        .our-games.content__center
        .our-games__title
            h4 Trò chơi chủa chúng tôi
        .our-games__wrapper
            ul.our-games__list
            li.our-games__item.our-games__item-one-half
                .our-games__item--large
                a.our-games__item_link(href='#')
                    img.our-games__item_img(src='/assets/img/yasuo.jpg', alt='yasuoo', srcset='')
                .our-games__item_content
                    .our-games__item_logo
                    img(src='/assets/img/logo-lol.png', alt='Một trò chơi phối hợp đồng đội', srcset='')
                    .our-games__item_description
                    h5 Một trò chơi phối hợp đồng đội
                    .our-games__item_platforms
                        i.our-games__item_platforms_icon.fa-brands.fa-windows
                        i.our-games__item_platforms_icon.fa-brands.fa-apple
            li.our-games__item.our-games__item-one-half
                .our-games__item--large
                a.our-games__item_link(href='#')
                    img.our-games__item_img(src='/assets/img/reyna.png', alt='yasuoo', srcset='')
                .our-games__item_content
                    .our-games__item_logo
                    img(src='/assets/img/valorant-logo.png', alt='Một trò chơi phối hợp đồng đội', srcset='')
                    .our-games__item_description
                    h5 Một trò chơi bắn súng 5v5 lấy nhân vật làm nền tảng
                    .our-games__item_platforms
                        i.our-games__item_platforms_icon.fa-brands.fa-windows
            li.our-games__item.our-games__item-one-third
                .our-games__item--large
                a.our-games__item_link(href='#')
                    img.our-games__item_img(src='/assets/img/tft.jpg', alt='yasuoo', srcset='')
                .our-games__item_content
                    .our-games__item_logo
                    img(src='/assets/img/tft-logotype-2021.png', alt='Một trò chơi phối hợp đồng đội', srcset='')
                    .our-games__item_description
                    .our-games__item_platforms
                        i.our-games__item_platforms_icon.fa-brands.fa-windows
                        i.our-games__item_platforms_icon.fa-brands.fa-apple
                        i.our-games__item_platforms_icon.fa-solid.fa-mobile-button
            li.our-games__item.our-games__item-one-third
                .our-games__item--large
                a.our-games__item_link(href='#')
                    img.our-games__item_img(src='/assets/img/lol mobile.png', alt='yasuoo', srcset='')
                .our-games__item_content
                    .our-games__item_logo
                    img(src='/assets/img/lol-wildrift-logotype.png', alt='Một trò chơi phối hợp đồng đội', srcset='')
                    .our-games__item_description
                    .our-games__item_platforms
                        i.our-games__item_platforms_icon.fa-light.fa-mobile-button
                        i.our-games__item_platforms_icon.fa-solid.fa-mobile-button
            li.our-games__item.our-games__item-one-third
                .our-games__item--large
                a.our-games__item_link(href='#')
                    img.our-games__item_img(src='/assets/img/runtera.png', alt='yasuoo', srcset='')
                .our-games__item_content
                    .our-games__item_logo
                    img(src='/assets/img/legends-of-runeterra-logotype.png', alt='Một trò chơi phối hợp đồng đội', srcset='')
                    .our-games__item_description
                    .our-games__item_platforms
                        i.our-games__item_platforms_icon.fa-brands.fa-windows
                        i.our-games__item_platforms_icon.fa-solid.fa-mobile-button
            li.our-games__item.our-games__item-one-third
                .our-games__item--large
                a.our-games__item_link(href='#')
                    img.our-games__item_img(src='/assets/img/ruinedking.png', alt='yasuoo', srcset='')
                .our-games__item_content
                    .our-games__item_logo
                    img(src='/assets/img/ruined-king-logotype.png', alt='Một trò chơi phối hợp đồng đội', srcset='')
                    .our-games__item_description
                    .our-games__item_platforms
                        i.our-games__item_platforms_icon.fa-brands.fa-windows
                        i.our-games__item_platforms_icon.fa-brands.fa-playstation
                        i.our-games__item_platforms_icon.fa-brands.fa-xbox
            li.our-games__item.our-games__item-one-third
                .our-games__item--large
                a.our-games__item_link(href='#')
                    img.our-games__item_img(src='/assets/img/hextech.jpg', alt='yasuoo', srcset='')
                .our-games__item_content
                    .our-games__item_logo
                    img(src='/assets/img/hextech-mayhem-logotype.png', alt='Một trò chơi phối hợp đồng đội', srcset='')
                    .our-games__item_description
                    .our-games__item_platforms
                        i.our-games__item_platforms_icon.fa-brands.fa-windows
                        i.our-games__item_platforms_icon.fa-solid.fa-mobile-button
            li.our-games__item.our-games__item-one-third
                .our-games__item--large
                a.our-games__item_link(href='#')
                    img.our-games__item_img(src='/assets/img/cony.png', alt='yasuoo', srcset='')
                .our-games__item_content
                    .our-games__item_logo
                    img(src='/assets/img/convrgence-logotype.png', alt='Một trò chơi phối hợp đồng đội', srcset='')
                    .our-games__item_description
                    .our-games__item_platforms
            li.our-games__item.our-games__item-one-third
                .our-games__item--large
                a.our-games__item_link(href='#')
                    img.our-games__item_img(src='/assets/img/songonunu.jpg', alt='yasuoo', srcset='')
                .our-games__item_content
                    .our-games__item_logo
                    img(src='/assets/img/songofnunu-logotype.png', alt='Một trò chơi phối hợp đồng đội', srcset='')
                    .our-games__item_description
                    .our-games__item_platforms
    section.widget
        .careers
        .careers__content
            .careers__content_inner
            h1 Chúng tôi đang tuyển dụng!
            h6 Hãy tham gia Riot để xây dựng những trải nghiệm không thể quên cho người chơi
            .careers__content_jobs
                a.careers__content_jobs_count(href='#')
                span 265
                Các vị trí trống
                a.careers__content_jobs_count(href='#')
                span 22
                Văn phòng
            button.careers__content_btn Khám phá công việc
        .careers__image
            img.careers__image_img(src='/assets/img/annie.jpg', alt='annie', srcset='')