@import 'base';
@import 'variables';
@import 'mixins';
 
.header {
    background-color: red;
    .container {
        @include display(flex);
        .header__logo {
            padding-left: 36px;
            position: relative;
            &_link {
            }
            &_img {
                fill: $text-color;
            }
            &_icon {
                color: $grey-color;
                @include absoluteCenter("top"); 
            }
        }
        .navbar {
            @include display(flex);
            &__left {
                @include display(flex);
            }
            &__icon {

            }
            &__list {
                @include display(flex);
            }
            
            &__right {
                @include display(flex);
            }
            &__global {

            }
            &__search {
                @include display(flex);
            }
        }
    }
}



