* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content__center {
    padding-left: 80px;
    padding-right: 80px;
}