.header {
    background-color: #111111;
    position: sticky;
    top: 0;
    z-index: 9999;
    .container {
        @include display(flex);
        height: 80px;
        align-items: center;
        position: static;
        .header__logo {
            height: 100%;
            padding-left: 36px;
            position: relative;
            @include display(flex);
            align-items: center;
            
            &_link {
               
            }
            &_img {
                fill: $text-color;
                
            }
            &_icon {
                color: $grey-dark-color;
                @include absoluteCenter("top");
                
            }
        }
        .navbar {
            height: 100%;
            @include display(flex);
            flex: 1;
            &__left {
                @include display(flex);
                align-items: center;
                flex: 1;
                justify-content: flex-start;
            }
            &__icon {
                margin-left: 22px;
                &_link {
                   
                }
                &_img {
                    width: 26px;
                    height: 26px;
                }
            }
            &__list {
                @include display(inline-flex);
                list-style: none;
                margin-left: 18px;
                padding-left: 0;
            }
            &__item {
                font-size: 1.4rem;
                font-weight: bold;
                text-transform: uppercase;
                padding: 8px 16px;
                position: relative;
                &:first-of-type:hover .navbar__about {
                    transition: opacity .5s cubic-bezier(0.06, 0.81, 0, 0.98) 0s,visibility 0s;
                    opacity: 1;
                    visibility: visible;
                    @include display(block);
                }
                &-second:hover .navbar__work {
                    transition: opacity .5s cubic-bezier(0.06, 0.81, 0, 0.98) 0s,visibility 0s;
                    opacity: 1;
                    visibility: visible;
                    @include display(block);
                }
                &_icon {
                    font-size: 1.2rem;
                    margin-left: 5px;
                    color: $grey-dark-color;
                }
                &:hover {
                    cursor: pointer;
                    background-color: rgba(128,128,128,.3);
                    border-radius: 6px;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: calc(100% + 14px);
                        background-color: $red-color;
                        @include display(block);
                        width: 100%;
                        height: 4px;
                        border-radius: 2px;

                    }
                }
            }
            &__link {
                text-decoration: none;
                color: $text-color;
               
            }
            &__about {
                display: none;
                position: absolute;
                left: 0;
                top: calc(100% + 14px);
                list-style: none;
                padding-left: 0;
                background-color: $black-blur-color;
                min-width: 200px;
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                text-align: left;
                box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 20%);
                z-index: 1;
                &::before {
                    content: "";
                    @include display(block);
                    position: absolute;
                    left: 0;
                    top: -16px;
                    width: 100%;
                    height: 40px;
                    cursor: pointer;
                }
                &-border {
                    width: 100%;
                    height: 4px;
                    background-color: $red-color;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;

                }
                &_item {
                    margin: 5px 16px;
                    text-align: left;
                    line-height: normal;
                    &:hover {
                        cursor: pointer;
                        background-color: rgba(128,128,128,.3);
                        border-radius: 6px;
                    }
                }   
                &_item:first-of-type {
                    margin-top: 18px;
                }   
                &_item:last-of-type {
                    margin-bottom: 18px;
                }      
                &_link {
                    @include display(inline-block);
                    padding: 8px 20px;
                    text-decoration: none;
                    color: $grey-color;
                    text-align: left;
                    text-transform: capitalize;
                    font-weight: 500;
                    line-height: 16px;
                    
                }
            }
            &__work {
                display: none;
                position: absolute;
                left: 0;
                top: calc(100% + 14px);
                list-style: none;
                padding-left: 0;
                background-color: $black-blur-color;
                min-width: 200px;
                border-bottom-left-radius: 2px;
                border-bottom-right-radius: 2px;
                text-align: left;
                box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 20%);
                z-index: 1;
                &::before {
                    content: "";
                    @include display(block);
                    position: absolute;
                    left: 0;
                    top: -16px;
                    width: 100%;
                    height: 40px;
                    cursor: pointer;
                }
                &-border {
                    width: 100%;
                    height: 4px;
                    background-color: $red-color;
                    border-radius: 2px;
                }
                &_item {
                    margin: 5px 16px;
                    text-align: left;
                    line-height: normal;
                    &:hover {
                        cursor: pointer;
                        background-color: rgba(128,128,128,.3);
                        border-radius: 6px;
                    }
                }   
                &_item:first-of-type {
                    margin-top: 18px;
                }   
                &_item:last-of-type {
                    margin-bottom: 18px;
                }      
                &_link {
                    @include display(inline-block);
                    padding: 8px 20px;
                    text-decoration: none;
                    color: $grey-color;
                    text-align: left;
                    text-transform: capitalize;
                    font-weight: 500;
                    line-height: 16px;
                    
                }
            }
            &__right {
                @include display(flex);
                padding-right: 32px;
                align-items: center;
                
            }
            &__global {
                width: 32px;
                height: 100%;
                margin-left: -20px;
                position: relative;
                &_link {

                    @include absoluteCenter("top");
                }
                &_icon {
                    
                }
            }
            &__search {
                @include display(flex);
                height: 100%;
                align-items: center;
                justify-content: center;
                form {
                    @include display(flex);;
                    align-items: center;
                    position: relative;
                }
                &_input {
                    background-color: transparent;
                    color: $text-color;
                    text-transform: uppercase;
                    height: 35px;
                    width: 188px;
                    font-size: 1.2rem;
                    font-weight: 700;
                    border: 1px solid;
                    border-radius: 1.6rem;
                    padding: 4px 20px;
                    outline: none;
                }
                &_icon {
                    font-size: 2rem;
                    color: $text-color;
                    position: absolute;
                    right: 22px;
                }
                &_btn {
                    width: 124px;
                    height: 36px;
                    margin-left: 6px;
                    background-color: $red-color;
                    border: none;
                    border-radius: 1.6rem;
                    font-size: 1.2rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    cursor: pointer;
                   
                }
            }
        }
    }
}