@mixin transform($property) {
    -webkit-tranform: $property;
    -ms-tranform: $property;
    transform: $property;
}

@mixin display($property) {
    -webkit-tranform: $property;
    -ms-tranform: $property;
    display: $property;
}

@mixin absoluteCenter($direction: "top") {
    position: absolute;
    
    @if $direction == "top" {
        top: 50%;
        @include transform(translateY(-50%));
    }
    @if $direction == "left" {
        left: 50%;
        @include transform(translateX(-50%));
    }
    @if $direction == "right" {
        right: 50%;
        @include transform(translateX(-50%));
    }
    @if $direction == "both" {
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
}