$text-color: #f9f9f9;
$black-color: #0a0a0a;
$black-blur-color: #292929;
$primary-color: #1f1f1f;
$grey-dark-color: #5e5d5b;
$grey-supper-dark-color: #1f1f1f;
$grey-color: #c7c7c7;
$red-color: #d13639;